.container {
  width: 100%;
  height: 100%;
  padding: 35px 40px;
  button[disabled] {
    cursor: none;
  }
  .relative {
    position: relative;
    margin-bottom: 35px;

    .container-title {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      color: #0E0E0E;
    }

    .title-info {
      font-family: "SF Pro Display", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      color: #D7D7D7;
    }
  }

  .d-flex {
    display: flex;
    gap: 30px;

    .row {
      display: flex;
      margin-bottom: 35px;
      width: 430px;
      max-width: 30%;
      height: 100%;

      .profile-card {
        width: 100%;
        height: 644px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px #DEDEDE;
        border-radius: 5px;

        .profile-avatar {
          width: 100%;
          height: 373px;
          background: #F8F8F8;

          box-shadow: 0px 0px 8px #DEDEDE;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 69px 0;

          .avatar {
            width: 116px;
            height: 116px;
            background: $green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            color: #ffffff;
            position: relative;

            span {
              display: block;
              width: 17px;
              height: 17px;
              background: #C8C8C8;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              bottom: 0;

              svg {
                transform: rotate(-90deg);
                width: 6.66px;
                height: 5.45px;

                path {
                  fill: $white
                }
              }
            }
          }

          .name {
            margin-top: 13px;
            margin-bottom: 21px;
            font-family: "SF Pro Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: #0E0E0E;
          }

          .btn {
            width: 139px;
            height: 56px;
            background: $green;
            border-radius: 5px;
            font-family: "SF Pro Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            color: #FBFBFB;
            border: none;
          }
        }

        ul {
          margin: 54px 0 39px 0;

          .tabs{
            width: 100%;
            height: 45px;
            border-radius: 0px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $icon-gray;
            transition: all 0.3s;
            cursor: pointer;
              &:hover {
              display: flex;
              align-items: center;
              justify-content: center;
              list-style: none;
              width: 100%;
              height: 45px;
              background: #F6F6F6;
              font-family: "SF Pro Display", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              text-align: center;
              color: #0E0E0E;
            }
          }

          .activeTab {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            width: 100%;
            height: 45px;
            background: #F6F6F6;
            font-family: "SF Pro Display", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: #0E0E0E;
          }
        }
      }
    }

    .card-columns {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      .card-column {
        align-self: start;
        width: auto;
        height: auto;
        padding: 35px;
        background: #FEFEFE;

        box-shadow: 0px 0px 8px #DEDEDE;
        border-radius: 5px;

        .card-title {
          font-family: "SF Pro Display", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.3;
          color: #0E0E0E;
          padding-bottom: 35px;
        }

        .p-30 {
          padding: 26px 0;
        }

        .info {
          display: flex;
          justify-content: space-between;
          line-height: 1.9;

          span:first-child {
            font-family: "SF Pro Display", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #BEBDBD;
          }

          span:nth-child(2) {
            font-family: "SF Pro Display", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #0E0E0E;
          }
        }
      }
    }
    .edit-container {
      flex-grow: 1;
      height:644px;
      background: #FDFDFD;
      opacity: 0.8;
      box-shadow: 0px 0px 8px #DEDEDE;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      hr {
        border: 1px solid #C8C8C8
      }
      .sec-title {
        padding:25px 32px;
        span{
          font-family: "SF Pro Display", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #0E0E0E;
        }
      }
      .edit-holder {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .sections {
          border-radius: 5px 0px 0px 0px;
          grid-template-columns: repeat(3,1fr);
          cursor: pointer;
          display: grid;
          .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 66px;
            background: #F7F7F7;
            opacity: 0.8;
            border: 1px solid #C8C8C8;
            span{
              font-family:" SF Pro Display",sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              color: #C8C8C8;
            }
            &:hover{
              background: $white;
              span{color:$green}
              transition: 0.5s;
            }
          }
          .activeInfo{
            background: $white;
            span{color:$green}
          }
        }
        .content {

          .personal-paragraph {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .para {
              width: 71%;
              text-align: center;
              margin: 0 auto;
              color: #0E0E0E;
              font-family: "SF Pro Display",sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              .sup-span{
                font-family: "SF Pro Display",sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color:$green;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
          .input-container {
            display: flex;
            flex-direction: column;
            width: 862px;
            padding: 0 8px;
            overflow-y: scroll;
            margin: 0 auto;
            height:43vh;
            &::-webkit-scrollbar {
              display: none;
            }
            label {
              font-family: "SF Pro Display",sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              color: #000000;
              opacity: 0.4;
              margin: 20px 0;
            }
            input {
              background: #FBFBFB;
              opacity: 0.8;
              box-shadow: 0 0 8px #D8D8D8;
              border-radius: 5px;
              min-height: 56px;
              height: 56px;
              border: none;
              padding-left: 30px;
            }
            .btn-container{
              display: flex;
              margin: 20px 0;
              button {
                border:none;
                outline: none;
                width: 232px;
                height: 56px;
                font-family: "SF Pro Display",sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                cursor: pointer;
              }
              .btn-cancel {
                background: #EBEBEB;
                font-family: "SF Pro Display",sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                border-radius: 5px;
                color:#0E0E0E;
                margin-right: 12px;
              }
              .btn-save {
                background: #009345;
                border-radius: 5px;
                color:$white;
              }
            }
          }
        }
      }
    }

  }

}