.side-menu {
  .side-menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border: none;
    width: 120px;
    height: 100vh;
    box-shadow: 0px 0px 8px #dedede;
    position: relative;
    transition: all 0.5s ease;
    z-index: 11;
    .logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 86px;
      transition: inherit;

      &-box {
        height: 70px;
        transition: inherit;
        overflow: hidden;
      }
    }
    &__items {
      max-width: 100%;
    }

    .open-side-menu {
      width: 20px;
      height: 70px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.5s;
      overflow: hidden;
      &:hover span {
        background: #33a96a;
        transition: 0.5s;
      }
      span {
        width: 2px;
        height: 54px;
        background: #c8c8c8;
        border-radius: 1px;
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        transition: 0.5s;
      }
    }
    .icons {
      width: auto;
      height: auto;
      cursor: pointer;
      overflow: hidden;
      padding: 0;
      margin: 0;

      .item {
        display: none;
      }
    }

    .icon {
      width: 240px;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr auto;
      list-style: none;
      height: 35px;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15.51px;
      color: #c8c8c8;
      padding: 0 31px 0 52px;

      > span {
        align-self: center;
      }

      .name,
      .arrow {
        display: none;
      }

      .name {
        margin-left: 14px;
      }

      .arrow {
        transform: rotate(-90deg);
        path {
          fill: $icon-gray;
        }
      }

      .svgIcon {
        path {
          fill: $icon-gray;
        }
      }
    }

    .icon:hover {
      color: #000000;
      background: #f7f7f7;
      transition: 0.5s ease;

      .svgIcon {
        path {
          fill: $green;
        }
      }
    }
    .active-icons {
      width: 240px;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr auto;
      list-style: none;
      height: 35px;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15.51px;
      padding: 0 31px 0 52px;

      > span {
        align-self: center;
      }

      .name,
      .arrow {
        display: none;
      }

      .name {
        margin-left: 14px;
      }

      .arrow {
        transform: rotate(-90deg);
        path {
          fill: $icon-gray;
        }
      }

      .svgIcon {
        path {
          fill: #009345;
        }
      }
    }
    .active-icons:hover {
      color: #000000;
      background: #f7f7f7;
      .fields {
        display: $black;
      }
    }
    .fields {
      width: 150px;
      height: auto;
      position: absolute;
      right: -76%;
      margin-top: -1.6rem;
      transform: translateX(-31px);
      background: #ffffff;
      box-shadow: 0px 0px 8px #dedede;
      display: none;
      padding: 30px;
      z-index: 1;
    }

    .field {
      list-style: none;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      color: #c8c8c8;
      transition: 0.5s ease;
      padding: 5px 0;
      white-space: nowrap;
    }
    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 38px;
      width: 100%;
      position: relative;
      bottom: 38px;
      .logout-icon {
        path {
          fill: $icon-gray;
        }
        padding: 0 10px 0 52px;
        rect {
          fill: $icon-gray;
        }
      }

      .name {
        display: none;
        margin-top: -5px;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #c8c8c8;
      }
    }
    .logout:hover {
      .logout-icon {
        path {
          fill: #009345;
        }
        rect {
          fill: #009345;
        }
      }
      .name {
        color: $black;
      }
    }
    .field:hover {
      color: #000;
    }

    .icon:hover {
      .fields {
        display: block;
      }
    }
    &:hover {
      width: 240px;

      .logo-box {
        height: 100%;
      }
      .logout {
        .name {
          display: inline-block;
        }
      }
      .icons {
        padding: 0;

        .icon {
          .name,
          .arrow {
            display: block;
          }
        }
        .active-icons {
          .name,
          .arrow {
            display: block;
          }
        }
        .hide {
          display: block;
        }
      }
    }
  }
  .side-menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: none;
    width: 240px;
    height: 100vh;
    box-shadow: 0px 0px 8px #dedede;
    position: relative;
    transition: all 0.5s ease;
    z-index: 11;
    .logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 86px;
      transition: inherit;

      &-box {
        height: 70px;
        transition: inherit;
      }
    }

    &__items {
      max-width: 100%;
    }
    .open-side-menu {
      width: 20px;
      height: 70px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.5s;
      overflow: hidden;
      &:hover span {
        background: #33a96a;
        transition: 0.5s;
      }
      span {
        width: 2px;
        height: 54px;
        background: #33a96a;
        border-radius: 1px;
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        transition: 0.5s;
      }
    }
    .icons {
      width: auto;
      height: auto;
      cursor: pointer;
      overflow: hidden;
      padding: 0;
      margin: 0;

      .item {
        display: none;
      }
    }

    .icon {
      width: 240px;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr auto;
      list-style: none;
      height: 35px;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15.51px;
      color: #c8c8c8;
      padding: 0 31px 0 52px;

      > span {
        align-self: center;
      }

      .name {
        margin-left: 14px;
        display: inline;
      }

      .arrow {
        transform: rotate(-90deg);
        path {
          fill: $icon-gray;
        }
      }

      .svgIcon {
        path {
          fill: $icon-gray;
        }
      }
    }

    .icon:hover {
      color: #000000;
      background: #f7f7f7;
      transition: 0.5s ease;

      .svgIcon {
        path {
          fill: $green;
        }
      }
    }
    .active-icons {
      width: 240px;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 1fr auto;
      list-style: none;
      height: 35px;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15.51px;
      padding: 0 31px 0 52px;

      > span {
        align-self: center;
      }

      .name {
        margin-left: 14px;
      }

      .arrow {
        transform: rotate(-90deg);
        path {
          fill: $icon-gray;
        }
      }

      .svgIcon {
        path {
          fill: #009345;
        }
      }
    }
    .active-icons:hover {
      color: #000000;
      background: #f7f7f7;
    }
    .fields {
      width: 150px;
      height: auto;
      position: absolute;
      right: -76%;
      margin-top: -1.6rem;
      transform: translateX(-31px);
      background: #ffffff;
      box-shadow: 0px 0px 8px #dedede;
      display: none;
      padding: 30px;
      z-index: 1;
    }

    .field {
      list-style: none;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      color: #c8c8c8;
      transition: 0.5s ease;
      padding: 5px 0;
      white-space: nowrap;
    }
    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 38px;
      width: 100%;
      position: relative;
      bottom: 38px;
      .logout-icon {
        path {
          fill: $icon-gray;
        }
        padding: 0 10px 0 52px;
        rect {
          fill: $icon-gray;
        }
      }
      .name {
        margin-top: -5px;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #c8c8c8;
      }
    }
    .logout:hover {
      .logout-icon {
        path {
          fill: #009345;
        }
        rect {
          fill: #009345;
        }
      }
      .name {
        color: #009345;
      }
    }
    .field:hover {
      color: #000;
    }

    .icon:hover {
      .fields {
        display: block;
      }
    }
  }
}
