.form {
  display: flex;
  flex-direction: column;
  width: 576px;
  height: 286px;
}

.form > h1 {
  margin: 0 0 32px 0;
}

.form div:nth-child(1) {
  margin-bottom: 23px;
}

.form_buttons {
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form_buttons button {
  width: 227px;
}
