.main-wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:"side-menu head"
                      "side-menu container"
                      "side-menu footer-holder";

  grid-template-rows: auto 1fr;
  grid-auto-columns: auto 1fr;
  background: #FBFBFB;

  .side-menu {
    grid-area: side-menu;
  }

  .header {
    grid-area: head;
  }

  .main-container {
    grid-area: container;
  }
  .footer {
    grid-area: footer-holder;
  }
}
