.main-wrapper {
  display: grid;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  grid-template-areas:
    'side-menu head'
    'side-menu container'
    'side-menu footer-holder';

  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  background: #fbfbfb;
  overflow: hidden;

  .side-menu {
    grid-area: side-menu;
  }

  .header {
    grid-area: head;
  }

  .main-container {
    grid-area: container;
    overflow-y: auto;
  }
  .footer {
    grid-area: footer-holder;
  }
}
