body {
  margin: 0 !important;
  padding: 0 !important;
  background: $light;
  min-width: 1366px;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100vh;
}

#__next {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'SF Pro Display', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
