/// Colors
$green: #33A96A;
$red: #FE0000;
$yellow: #FDCC4E;
$black: #0E0E0E;
$dark-green: #223D23;
$icon-gray: #C8C8C8;
$dark-grey: #939393;
$light-grey: #D7D7D7;
$light: #FBFBFB;
$white: #FFFFFF;

/// font sizes

