.form {
  width: 972px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form h1 {
  margin: 0 0 36px 0;
}

.form_inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.form_inputs div:nth-child(1) {
  margin-right: 20px;
}

.form_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.form_buttons button {
  width: 232px;
}

.form_fetching_error {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  color: #fe0000;
}
