body {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
}

* {
  font-family: 'SF Pro Display';
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/static/fonts/Display-Medium.woff2') format('woff2'),
    url('/static/fonts/Display-Medium.woff') format('woff'),
    url('/static/fonts/Display-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/static/fonts/Display-Bold.woff2') format('woff2'),
    url('/static/fonts/Display-Bold.woff') format('woff'),
    url('/static/fonts/Display-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/static/fonts/Display-Regular.woff2') format('woff2'),
    url('/static/fonts/Display-Regular.woff') format('woff'),
    url('/static/fonts/Display-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
